<div class="half-one">
<textarea id="textarea2"></textarea>
</div>

<div class="half-one">
<div id="editor"></div>
    <script src="src/ace.js" type="text/html" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        // editor.setValue();
        editor.setTheme("ace/theme/monokai");
    	editor.getSession().setMode("ace/mode/html");
    </script>
</div>

