<div class="col-md-12" style="text-align: center;height: 500px;">
    <h3 style="line-height: 20;">Site has been moved to <a href="https://html-converter-gen.herokuapp.com/">https://html-converter-gen.herokuapp.com/</a></h3>
    </div>